<?xml version="1.0" encoding="utf-8"?>
<config.xml>
  <idOrder>1</idOrder>
  <idProduct> 10010 </idProduct>
  <idOrderItem>13</idOrderItem>
  <idOrderOfIdOrderItem>1</idOrderOfIdOrderItem>
  <idProductOfIdOrderItem>1</idProductOfIdOrderItem>
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
  <ee />
</config.xml>